@media screen and (max-width:991px) {
    h3{
        font-size: 1.2rem;
    }
    .nav-toggle{
        display: block;
        margin-right:20px;
    }
    .nav-link{
        display:none;
    }
    .example-area{
        gap:20px;
    }
    .example-card{
        width:calc(50% - 10px);
        height:180px;
    }
    .cta-section{
        padding-block: 80px;
    }
}
@media screen and (max-width:767px) {
    .primary-button{
        width: 100%;
    }
    .header-section{
        flex-direction:column-reverse;
    }
    .header-left{
        max-width:100vw;
        text-align:center;
    }
    .feature-card{
        min-width: calc(50% - 10px);
    }
    .big-feature-container, #second-big-feature{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
        gap:40px;
        text-align: center;
        align-items: center;
    }
    .link-column{
        align-items:stretch;
    }
}

@media screen and (max-width:479px) {
    
}
