@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Reset classes start here  */
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;

}
body{
    font-family: "Poppins",sans-serif;
    color:var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: "Roboto",sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration:none;
    display: inline-block;
}
ul{
    list-style: none;
}
/*Reset classes ends here*/


/* Utility classes start here */
.container{
    max-width: 1180px;
    margin-inline: auto; /*this is for left and right margin*/
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-links{
    color:var(--primary-text-color);
}
.hover-links:hover{
    color:var(--accent-color);
    transition: 0.2s ease-out;
}
.primary-button{
    background-color: var(--accent-color);
    padding:12px 24px;
    border-radius: 6px;
    color:white !important;
    font-weight: 700;
    transition:0.2s ease-out;
    box-shadow: 0 0 2px var(--secondary-text-color);
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border:0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color:var(--primary-text-color);
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color:var(--accent-color);
    color:var(--accent-color);
}
/*utility classes end here*/


/* top-banner classes start here*/
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.banner-text{
    color:white;
    padding:15px 30px;
}
.top-banner{
    background-color: #4fb3d4;
    background-image: url(assets/asset\ 32.png);
    background-size: 300px;
    background-repeat: repeat;
}
/* top-banner classes ends here */


/* nav bar classes starts */
.company-logo img{
    width: 200px;
}
.main-nav{
    margin-top:20px;
    justify-content:space-between;
}
.nav-link ul{
    justify-content: end;
    gap:40px;
}
.nav-link{
    flex-basis: 730px;
}
/* nav bar classes ends here */
/* header section starts here */
header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap:50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
}
.get-started-button{
    margin:20px;
}
/*header section ends here*/

/* companies section starts */
.companies-header{
    margin-block: 30px;
    color:var(--primary-text-color) ;
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 46px;
}
/* companies section ends here */

/* features sectiion starts here */
.feature-section{
    padding:80px var(--padding-inline-section) 0;
    background-image:url(assets/ass.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.features-header{
    text-align:center;

}
.features-header h2{
    margin-bottom: 20px;
}
.icon-color{
    color:var(--accent-color);
}
/* features section ends here */
.feature-area{
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.feature-card{
    flex-direction:column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.feature-card img{
    width: 50px;
}
/* features section ends here */

/* big feature section starts here */
.big-feature-section{
    padding:30px var(--padding-inline-section);
}
.big-feature-container{
    gap:30px;

}
.feature-image img{
    width:100%;
}
.feauture-desc{
    flex-direction: column;
    align-items: flex-start;
}
/* big feature section ends here */
/* example section starts here */
.example-header{
    text-align: center;
    margin-bottom: 20px;
}

.example-area{
    justify-content: space-between;
    margin-block: 30px;
}
.example-card{
    width:23%;
    position: relative;
    min-height: 300px;
    background-color: black;
    transition: 0.2s ease-out;
}
.card-text{
    position:absolute;
    bottom:20px;
    left: 20px;
    right: 20px;
    color:white;
}

.example-card:nth-child(1){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 36.jpeg);
    background-size: cover;
}
.example-card:nth-child(2){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 37.jpeg);
    background-size: cover;
}
.example-card:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 38.jpeg);
    background-size: cover;
}
.example-card:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 39.jpeg);
    background-size: cover;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
/* example section ends here */

/* cta section starts here */
    .cta-section-container{
        flex-direction:column;
        gap:30px;
        color:var(--primary-text-color)
    }
    .cta-section{
        padding: 120px var(--padding-inline-section) 80px;
    }
    .cta-section-container p{
        margin-top: 20px;
    }
/* cta section ends here */

/* footer section starts here */
    footer{
        padding-block: 80px;
        background: linear-gradient(#ebf2fa,rgb(255,255,255,0.1));
    }
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .link-column{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
/* footer sectiion ends here */

/* subfooter section starts */
    .sub-footer{
        background-color: #b9cde4;
        padding:var(--padding-inline-section);
    }
    .sub-footer-container{
        justify-content:center;
        gap:30px;
    }
/* subfooter section ends here */
